body {
    background: linear-gradient(180deg, #8d2036, #ce0a31);
    background-size: 400% 400%;
    -webkit-animation: background 15s ease infinite;
    -moz-animation: background 15s ease infinite;
    animation: background 15s ease infinite;
    min-width: 100vw;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
}
@-webkit-keyframes background {
    0% {
        background-position: 93% 0%
    }
    50% {
        background-position: 0% 100%
    }
    100% {
        background-position: 93% 0%
    }
}
@-moz-keyframes background {
    0% {
        background-position: 93% 0%
    }
    50% {
        background-position: 0% 100%
    }
    100% {
        background-position: 93% 0%
    }
}
@keyframes background {
    0% {
        background-position: 93% 0%
    }
    50% {
        background-position: 0% 100%
    }
    100% {
        background-position: 93% 0%
    }
}
.special-button {
    background-color: rgba(0, 0, 0, 0.20);
    border-radius: 18px 18px 18px 18px;
    max-width: 45vw;
    width: 60vw;
    height: 7vw;
    border: 0px;
    font-size: 2.3vw;
    color: white;
    font-family: 'Lato Semibold', sans-serif;
    font-weight: 600;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 5vw;
}
.header {
    font-size: 4vw;
    color: white;
    font-family: 'Lato Heavy', sans-serif;
    font-weight: 800;
    margin-right: auto;
    margin-left: auto;
}
.subheader {
    font-size: 3.5vw;
    color: white;
    font-family: 'Lato Medium', sans-serif;
    font-weight: 500;
    margin-right: auto;
    margin-left: auto;
}
.container {
    align-content: center;
    padding-top: 2vw;
}
html {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
.break {
    line-height: 5vw;
}
.break2special {
    line-height: 1vw;
}
.buttons {
    line-height: -1vw;
}
#second-button {
    margin-top: 1.8vw;
}
.alert-bottom {
    float: bottom;
    background-color: rgba(0, 0, 0, 0.40);
    height: 5vw;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: table;
    text-align: center;
}
body {
    margin-right: auto;
    margin-left: auto;
}
.alert-text {
    font-family: 'Lato Semibold', sans-serif;
    font-weight: 600;
    color: white;
    font-size: 2vw;
    vertical-align: center;
    display: table-cell;
    vertical-align: middle;
}
a:hover {
    color: #FB8FA5;
}
a:visited {
    color: #FB8FA5;
}
a {
    color: #FB8FA5;
}
#credits-link {
    padding-top: 2vw;
    font-size: 2.3vw;
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
}
button {
    cursor: pointer;
}